@model Marketplace.Models.Product

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Make
            </h2>
        </header>
        <p>
            @Model.Description
        </p>
        
        <footer class="pull-right">
            
        </footer>
    </article>
</div>
<hr />
