@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                     <strong>SHOES COLLECTION</strong>
                </h2>
                <hr>
            </div>
            <div class="col-lg-12 text-left">
                <a href="http://localhost:58116/Home/ListProducts?CategoryId=1">
                <img alt="" src="https://s-media-cache-ak0.pinimg.com/originals/04/a2/90/04a2902575fe5cbf41bdce7a59022a04.jpg" class="img-responsive img-border img-full">
                </a>
                    <h2>
                    NIKE
                </h2>
                <hr>
            </div>
            <div class="col-lg-12 text-left">
                <a href="http://localhost:58116/Home/ListProducts?CategoryId=2">
                <img alt="" src="https://s-media-cache-ak0.pinimg.com/originals/2f/dd/17/2fdd17e5c50f267a39164621b1b23afe.jpg" class="img-responsive img-border img-full">
                </a>
                    <h2>
                    ADIDAS
                </h2>
                <hr>
            </div>
            <div class="col-lg-12 text-left">
                <a href="http://localhost:58116/Home/ListProducts?CategoryId=3">
                <img alt="" src="https://newsneakernews-wpengine.netdna-ssl.com/wp-content/uploads/2016/11/rihanna-puma-creeper-velvet-release-date-03.jpg" class="img-responsive img-border img-full">
                </a>
                    <h2>
                    PUMA
                </h2>
                <hr>
            </div>
        </div>
    </div>
</div>