@model IEnumerable<object>
@{
    List<Marketplace.Models.Category> listCategory = Model.ToList()[0] as List<Marketplace.Models.Category>;
    List<Marketplace.Models.Product> listProducts = Model.ToList()[1] as List<Marketplace.Models.Product>;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="http://localhost:58116/Products/Details/1">
                                <img class="img-responsive img-full" src="..//img/slide-1.jpg" alt="">
                            </a>
                        </div>

                        <div class="item">
                            <a href="http://localhost:58116/Products/Details/2">
                                <img class="img-responsive img-full" src="..//img/slide-2.jpg" alt="">
                            </a>
                        </div>

                        <div class="item">
                            <a href="http://localhost:58116/Products/Details/3">
                                <img class="img-responsive img-full" src="..//img/slide-3.jpg" alt="">
                            </a>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2>
                    <small>
                        BEST SELLERS RUNNING SHOES
                    </small>
                </h2>
                <h1>
                    <span class="brand-name">OUTLET</span>
                </h1>
                <hr class="tagline-divider">
                <h2>
                    <small>By <strong>Codealerz</strong></small>
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h1 class="intro-text text-center">Categories</h1>
            
                @foreach (var cat in listCategory)
                {
                    <h1 align="justify">
                        
                            <span>
                                @Html.ActionLink(string.Format($"{cat.Title}"),
                                "ListProducts", "Home", new { @categoryId = cat.Id }, null)
                            </span>
                        
                    </h1>
                }
            

                <hr>
                <h1 class="intro-text text-center">Products</h1>
                <div class="row">
                    @foreach (var p in listProducts)
                    {
                        <div class="col-md-3">
                            <article>
                                <header>
                                    <h4>
                                        @Html.ActionLink(string.Format($"{p.Make}"),
                                            "Details", "Products", new { @Id = p.Id }, null)

                                    </h4>
                                </header>
                                <footer>

                                    <div class="pull-left">
                                        Price: <span class="text-danger">@p.Price ыт.</span>
                                    </div>

                                </footer>
                            </article>
                        </div>
                        
                    }
                    </div>
                        <hr>
                        <img class="img-responsive img-border img-left" src="..//img/intro-pic.jpg" alt="">
                        <hr class="visible-xs">
                        <p>The boxes used in this template are nested inbetween a normal Bootstrap row and the start of your column layout. The boxes will be full-width boxes, so if you want to make them smaller then you will need to customize.</p>
                        <p>
                            A huge thanks to <a href="http://join.deathtothestockphoto.com/" target="_blank">Death to the Stock Photo</a> for allowing us to use the beautiful photos that make this template really come to life. When using this template, make sure your photos are decent. Also make sure that the file size on your photos is kept to a minumum to keep load times to a minimum.
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Beautiful boxes <strong>to showcase your content</strong>
                </h2>
                <hr>
                <p>Use as many boxes as you like, and put anything you want in them! They are great for just about anything, the sky's the limit!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
        </div>
    </div>

</div>
@section scripts
{
    <script>
        // Activates the Carousel
        $('.carousel').carousel({
            interval: 5000
        })
    </script>
}